
week_01/.ipynb_checkpoints/

diet/.ipynb_checkpoints/diet_converter_alo-checkpoint.ipynb

diet/.ipynb_checkpoints/

diet/agora103_genus.qza

*.yml

*.gz

siggi/.ipynb_checkpoints/TEST_CPLEX_ADRIAN_MAR2022.alo.v001-checkpoint.ipynb

siggi/AVT02_CHOK1_irrev_model_MARCH2022.mat

yeast/.ipynb_checkpoints/


yeast/yeast-GEM/
